{{ form_start(form) }}
<div class="modal-header">
    <button aria-label="Close" data-dismiss="modal" class="close" type="button">
        <span aria-hidden="true">×</span></button>
    <h4 class="modal-title">Add/Edit Division</h4>
</div>
<div class="modal-body">
    <table class="table table-bordered table-striped table-condensed CaptionSmall">
        <tbody>
            <tr>
                <td>{{ form_label(form.division) }}:</td>
                <td>{{ form_widget(form.division) }}</td>
            </tr>
        </tbody>
    </table>
</div>
<div class="modal-footer">
    <button data-dismiss="modal" class="btn btn-outline pull-left" type="button">Close</button>
    {{ form_row(form.save) }}
</div>
{{ form_end(form) }}