<html>
    <head>
        <title>TODO supply a title</title>       
    </head>
    <body>

        <form id="form-settings" autocomplete="off" action="{{ path('user_passwordchange_check') }}" method="post" autocomplete="off" >
            {% for flashMessage in app.session.flashbag.get('status') %}

                {{ flashMessage }}

            {% endfor %}
            {% if is_granted('ROLE_SUPER_ADMIN') %}
            <div >User name</div>
            <div >{{ app.user.username }}</div>
            {% else %}

            <div><input type='text' value="{{ app.user.username }}" name="username" class='ui-input' id="username" placeholder="Username" ></div>               
            <div><input type="password"value="" name="password" id="password" placeholder="Password"></div>
            <div><input type="password"value="" name="newpassword" id="newpassword" placeholder="New Password"></div>
            <div><input type="password"value="" name="confirmpassword" id="confirmpassword" placeholder="Confirm New Password"></div>      
            <input type="submit" name="submit" id="submit" value ="Update"><a href="{{ path('reset_request') }}">Forgot password ?</a>
            <input type="hidden" name="_uppu" value="{{ app.user.salt }}" id="_uppu" >    
            <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />

            {% endif %}
            <div id="form_status"></div>
            <div id="tempDiv"></div>

        </form>

        <script type="text/javascript" src="http://localhost{{ asset('bundles/nicresources/js/jquery/jquery.min.js') }}"></script>
        <script type="text/javascript" src="http://localhost{{ asset('bundles/nicresources/js/jquery-ui/minified/jquery-ui.min.js') }}"  ></script>
        <script type="text/javascript" src="http://localhost{{ asset('bundles/nicresources/js/sjcl.js') }}"  ></script>
        <script type="text/javascript" src="http://localhost{{ asset('bundles/nicresources/js/must.js') }}"  ></script>
        <script type="text/javascript" src="http://localhost{{ asset('bundles/nicresources/js/jquery.validate.min.js') }}"  ></script>
        <script type="text/javascript" src="http://localhost{{ asset('bundles/nicresources/js/additional-methods.min.js') }}"  ></script>
        <script type="text/javascript">

            $(document).ready(function() {
                debugger;
                __loadChangePasswordInit();
            });

            function __loadChangePasswordInit()
            {
                var thisForm = $("#form-settings");
                thisForm.applyMust();

                thisForm.validate({
                    rules: {
                        'password': "required",
                        'newpassword': {
                            equalTo: "#confirmpassword"
                        }
                    }, messages: {
                        'password': "Password venam",
                        'confirmpassword': {
                            required: "Confirm Password Venam",
                            equalTo: "Mismatch in first Password"
                        }
                    }
                });
                $('#submit').click(function() {
                    $('#submit').attr('disabled','disabled');
                    hashPasswords();
                    if (thisForm.valid()) {
                        var path = "{{ path('registration_new_save') }}";
                        $.ajax({
                            type: 'POST',
                            url: path,
                            data: thisForm.serialize(),
                            success: function(result) {
                                $('#submit').removeAttr('disabled');
                                __loadRegistrationFormCB(result);
                            }
                        });
                        return true;
                    } else {
                        return false;
                    }
                });
            }
            function hashPasswords() {
                debugger;
                var pwd1 = $("#password");
                var pwd2 = $("#newpassword");
                var pwd3 = $("#confirmpassword");
                var uppu = $("#_uppu");
                pwd1.val(hashIt(hashIt(pwd1.val()) + '{' + uppu.val() + '}'));
                pwd2.val(hashIt(hashIt(pwd2.val()) + '{' + uppu.val() + '}'));
                pwd3.val(hashIt(hashIt(pwd3.val()) + '{' + uppu.val() + '}'));
            }
            function hashIt(strSrc) {
                var baS1 = sjcl.hash.sha256.hash(strSrc);
                var digestS1 = sjcl.codec.hex.fromBits(baS1);
                return digestS1;
            }
        </script>
    </body>
</html>