{# src NIC/Bundle/SecuredLoginBundle/Resources/views/User #}
<html>
    {% block stylesheets %}

    <link rel="stylesheet" href="{{ asset('bundles/nicsecuredlogin/css/styles.css') }}" type="text/css" media="all" />
{% endblock %}
    <body>
       
        <form id="passwordRecovery" method="post" action="{{ path('reset_request') }}">
            
         <h4>Recover Your Password</h4>   
         
        <span>{{ form_label(form.dob)}}                    </span>   {{ form_widget(form.dob) }}                    {{ form_errors(form.dob) }}
        <span>{{ form_label(form.securityQuestion)}}       </span>   {{ form_widget(form.securityQuestion) }}       {{ form_errors(form.securityQuestion) }}
        <span>{{ form_label(form.securityAnswer)}}         </span>   {{ form_widget(form.securityAnswer) }}         {{ form_errors(form.securityAnswer) }}
        <span>{{ form_label(form.email)}}                  </span>   {{ form_widget(form.email) }}                  {{ form_errors(form.email) }}
        
        <p>{{ form_widget(form.submit) }} </p>
        </form>

    </body>

</html>