{% extends 'AdminBundle:DefaultMaster:masterPannel.html.twig'%}
{% set flag = 'indexMasters' %}
{% block mainPannelStyle %}
    {{ parent() }}
{% endblock %}

{% block mainPannelContent %} 
    {% for key, flash in app.session.flashbag.all() %}
        {% for message in flash %}
            <div class="alert alert-{{ key }}">
                <b>Alert!</b> {{ message }}
            </div>
        {% endfor %}
    {% endfor %}
    <section class="content-header">
        <h1>
            Dashboard
            <small>Masters</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Dashboard</a></li>
            <li class="active">Masters</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="col-md-4 col-sm-7 col-xs-12">
                <a class="info-box"  href="{{path('masters_add_students')}}">
                    <span class="info-box-icon bg-green"><i class="ion ion-ios-people-outline"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Students</span>
                        <small>Add students details</small>
                    </div>
                </a>
            </div>
            <div class="col-md-4 col-sm-7 col-xs-12">
                <a class="info-box"  href="{{path('masters_manage_class')}}">
                    <span class="info-box-icon bg-red"><i class="fa fa-suitcase" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Class</span>
                        <small>Manage class</small>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
            <div class="col-md-4 col-sm-7 col-xs-12">
                <a class="info-box" href="{{path('masters_manage_division')}}">
                    <span class="info-box-icon bg-aqua"><i class="fa fa-thumb-tack" aria-hidden="true"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Division</span>
                        <small>Manage divisions of class</small>
                    </div>
                </a>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4 col-sm-7 col-xs-12">
                <a class="info-box"  href="{{path('masters_add_subjects')}}">
                    <span class="info-box-icon bg-yellow"><i class="fa fa-thumb-tack"></i></span>
                    <div class="info-box-content">
                        <span class="info-box-number">Subjects</span>
                        <small>Add Subjects and Link with class</small>
                    </div>
                </a>
            </div>
            <div class="clearfix visible-sm-block"></div>
        </div>
    </section>
{% endblock %}

{% block mainPannelJs %}
    {{ parent() }}
    <script type="text/javascript">
    </script>
{% endblock %}