{% extends 'AdminBundle:DefaultMaster:masterPannel.html.twig'%}
{% set flag = 'listStudents' %}
{% block mainPannelStyle %}
    {{ parent() }}
    <style type="text/css">
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #cbcbcb !important;
        }
    </style>
{% endblock %}

{% block mainPannelContent %} 
    <section class="content-header">
        <h1>
            Student Details 
            <small>List all Students according to class</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i>Student Details</a></li>
                {#            <li class="active">Add Students</li>#}
        </ol>
    </section>
    {{ form_start(form) }}
    <section class="content">
        <div class="row">
            <div class="panel panel-primary" style="margin: 0 15px 15px 15px;">
                <div class="panel-body">
                    <div class="col-md-12">
                        <div class="col-md-4">
                            {{form_label(form.class)}}
                            {{form_widget(form.class)}}
                        </div>
                        <div class="col-md-4">
                            {{form_label(form.division)}}
                            {{form_widget(form.division)}}
                        </div>
                        <div class='col-md-4'>
                            <span class='btn btn-success pull-right' style='margin-top:7%' id='list-student-details'>List</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row"  style="padding-right:15px;" id="list-student-table">
            {#Table put here#}
        </div>
    </section>
    {{ form_end(form) }}

    <div class="modal fade" id="edit-student-modal" area-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg" style="width:70%">
            <div class="modal-content" id="modal-content-student" >

            </div>
        </div>
    </div>
{% endblock %}

{% block mainPannelJs %}
    {{ parent() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/notify/0.4.2/notify.min.js"></script>
    <script type="text/javascript">
        $(document).ready(function () {

            $("#list-student-details").click(function () {
                var classId = $("#{{form.class.vars.id}}").val();
                var division = $("#{{form.division.vars.id}}").val();
                var $path = "{{path('list_student_details_table')}}";
                $.ajax({
                    type: "POST",
                    url: $path,
                    data: {'classId': classId, 'division': division},
                    context: this,
                    beforeSend: function () {
                        $(this).after(imgLoading);
                    },
                    success: function ($data) {
                        $("#list-student-table").html($data);
                    },
                    complete: function () {
                        $(this).next(".loading-img").remove();
                    }
                });
            });
            $("body").on('click', '.edit-student', function () {
                var guId = $(this).data('id');
                var $path = "{{path('edit_student_details',{'guId':'__id__'})}}";
                $path = $path.replace("__id__", guId);
                $.ajax({
                    type: "POST",
                    url: $path,
                    context: this,
                    beforeSend: function () {
                        $(this).after(imgLoading);
                    },
                    success: function ($data) {
                        $("#modal-content-student").html($data);
                        $("#edit-student-modal").modal('show');
                    },
                    complete: function () {
                        $(this).next(".loading-img").remove();
                    }
                });
            });
            $("body").on('keypress', '#master_students_parentsMobNumber', function (e) {
                if (e.which !== 8) {
                    if (e.which !== 8 && e.which !== 0 && (e.which < 48 || e.which > 57)) {
                        $(this).notify(
                                "Digits Only",
                                {position: "top"},
                                "danger"
                                );
                        return false;
                    }
                    if ($(this).val().length > 9) {
                        $(this).notify(
                                "Only 10 digits allowed",
                                {position: "top"},
                                "danger"
                                );
                        return false;
                    }
                }
            });
            $("body").on('keypress', '#master_students_landPhoneNumber', function (e) {
                if (e.which !== 8) {
                    if (e.which !== 8 && e.which !== 0 && (e.which < 48 || e.which > 57)) {
                        $(this).notify(
                                "Digits Only",
                                {position: "top"},
                                "danger"
                                );
                        return false;
                    }
                    if ($(this).val().length > 9) {
                        $(this).notify(
                                "Only 10 digits allowed",
                                {position: "top"},
                                "danger"
                                );
                        return false;
                    }
                }
            });
        });
    </script>
{% endblock %}