{% extends 'AdminBundle:DefaultMaster:masterPannel.html.twig'%}
{% set flag = 'manageClass' %}
{% block mainPannelStyle %}
    {{ parent() }}
    <style type="text/css">
        .table-bordered > thead > tr > th, .table-bordered > tbody > tr > th, .table-bordered > tfoot > tr > th, .table-bordered > thead > tr > td, .table-bordered > tbody > tr > td, .table-bordered > tfoot > tr > td {
            border: 1px solid #cbcbcb !important;
        }
    </style>
{% endblock %}

{% block mainPannelContent %} 
    <section class="content-header">
        <h1>
            Manage Class
            <small>Masters</small>
        </h1>
        <ol class="breadcrumb">
            <li><a href="#"><i class="fa fa-dashboard"></i> Masters</a></li>
            <li class="active">Manage Class Rooms</li>
        </ol>
    </section>
    <section class="content">
        <div class="row">
            <div class="pull-right" style="padding-right:15px">
                <a class="btn btn-success" id="add-new-class">Add New</a>
            </div>
        </div>
        <div class="row"  style="padding-right:15px" id="list-class-table">
            {#Table put here#}
        </div>
    </section>

    <div class="modal fade" id="add-class-room-modal" area-hidden="true" role="dialog" tabindex="-1">
        <div class="modal-dialog modal-lg">
            <div class="modal-content" id="modal-content">

            </div>
        </div>
    </div>
{% endblock %}

{% block mainPannelJs %}
    {{ parent() }}
    <script type="text/javascript">
        $(document).ready(function () {
            var loadPath = "{{path('list_added_classes')}}";
            __loadPage(loadPath);


            $("#add-new-class").click(function () {
                var $path = "{{path('add_new_class_form')}}";
                $.ajax({
                    type: "POST",
                    url: $path,
                    context: this,
                    beforeSend: function () {
                        $(this).after(imgLoading);
                    },
                    success: function ($data) {
                        $("#modal-content").html($data);
                        $("#add-class-room-modal").modal('show');
                    },
                    complete: function () {
                        $(this).next(".loading-img").remove();
                    }
                });
            });

        {#            $("#edit-class").click(function () {#}
                $("body").on('click', '#edit-class', function () {
                    var id = $(this).data('id');
                    var $path = "{{path('edit_new_class_form',{'id':'__id__'})}}";
                    $path = $path.replace("__id__", id);
                    $.ajax({
                        type: "POST",
                        url: $path,
                        context: this,
                        beforeSend: function () {
                            $(this).after(imgLoading);
                        },
                        success: function ($data) {
                            $("#modal-content").html($data);
                            $("#add-class-room-modal").modal('show');
                        },
                        complete: function () {
                            $(this).next(".loading-img").remove();
                        }
                    });
                });

                function __loadPage(path) {
                    $.ajax({
                        type: "POST",
                        url: path,
                        beforeSend: function () {
                            $("#list-class-table").append('<div class="overlay"></div><div class="loading-img"></div>');
                        },
                        success: function (data) {
                            $("#list-class-table").html(data);
                        },
                        complete: function () {
                            $("#list-class-table").find(".overlay, .loading-img").remove();
                        }

                    });
                }

            });
    </script>
{% endblock %}